/*-- CSS for screen -- */

@font-face {
	font-family: 'HelveticaNeue-UltraLight';
	src: url('../fonts/helveticaneueultralight-webfont.eot');
	src: local('☺'), url('../fonts/helveticaneueultralight-webfont.woff') format('woff'), url('../fonts/helveticaneueultralight-webfont.ttf') format('truetype'), url('../fonts/helveticaneueultralight-webfont.svg#webfonteu8Gu1ai') format('svg');
	font-weight: normal;
	font-style: normal;
}

.row {
    height:500px;
    padding-top: 70px;
    overflow:hidden;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgb(255, 255, 255) url(Mod_background.jpg) repeat scroll top left;
    padding: 5px;
    padding: .5rem;
    height: 50px;
}

.img-cell {
    overflow:hidden;
}

.img-row{
    width:100%;
    left: 0;
}

#nav-title {
    font-family: 'Lobster Two', cursive;
    font-size: 42px;
    text-align: left;
    text-shadow: 0 2px 1px #fff;
    font-variant: small-caps;
}

.nav-button {
    font-family: 'Oxygen', sans-serif;
    padding: 10px;
    padding: 1rem;
    font-size: 18px;
    text-shadow: 0 2px 1px #fff;
    color: #333;
    text-decoration: none;
}

.current, a.nav-button:hover {
    color: #fff;
    text-shadow: none;
}

#title {
    font-family: 'Lobster Two', cursive;
    font-size: 56px;
    text-align: left;
}

#subtitle{
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
    text-align: left;
    padding-bottom: 75px;
}

p { 
    font-family: 'Oxygen', sans-serif;
    font-size: 18px; 
    color: #333;
    text-align: left;
}

.dropcap { 
    float: left; 
    color: #903; 
    font-size: 75px; 
    line-height: 60px; 
    padding-top: 4px; 
    padding-right: 8px; 
    padding-left: 3px; 
}

